* {
    font-family: monospace;
    color: #63B9EA;
}

body {
    background-color: #242426;
}

.main-view {}

.start-container {
    display: block;
}

.quiz-container {
    display: none;
    margin-top: 56px;
}

.results-container {
    display: none;
}

.languages-container {
    /* text-align: center; */
}

#timerSpanID {
    position: fixed;
    top: 0;
    right: 16px;
    font-size: 2rem;
}

#languagesUlID {
    padding: 0;
    /* margin-left: -28px; */
    margin-bottom: 24px;
}

#languagesUlID span {
    color: #AF7C65;
}

.language-row {
    padding: 4px;
    margin: 4px;
    border: solid 1px black;
}

#totalTimePID {
    color: #C16DEB;
}

#totalTimeSpanID {
    color: #C2C42F;
}

#startBtnID {
    margin: 40px 0;
    font-size: xx-large;
    background-color: #242426;
    color: #2F8EF8;
}

.prompt {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #383838;
    border-radius: 10px;
}

.prompt #promtSpanID {
    font-size: 1.5rem;
    color: #ADACAC;
}

#choicesULID {
    font-size: 1rem;
}

#choicesULID li {
    margin-top: 8px;
    border: 2px black solid;
    padding: 8px;
    list-style-type: upper-alpha;
    list-style-position: outside;
    list-style-image: none;
}

#scoresUlID {
    font-size: 3rem;
}

#scoresUlID li {}

@media only screen and (min-width: 320px) {}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}