.main-view {
    position: relative;
}

.start-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.quiz-container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.results-container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}


/* .timer-container {
    position: fixed;
    top: 0;
    right: 8!important;
} */

#timerSpanID {
    position: fixed;
    top: 0;
    right: 8px;
}