* {
    font-family: monospace;
    font-size: 1em;
    color: #63B9EA;
}

body {
    background-color: #242426;
}

.main-view {}


/* .start-container {
    display: blnonock;
} */

.start-container,
.quiz-container,
.results-container,
.highscores-container {
    display: none;
    margin: auto auto;
}


/* 
.results-container {
    display: none;
}

.languages-container {
} */

#timerSpanID {
    position: fixed;
    top: 0;
    right: 16px;
    font-size: 2rem;
}

#languagesUlID {
    padding: 0;
    /* margin-left: -28px; */
    margin-bottom: 24px;
}

#languagesUlID span {
    color: #AF7C65;
}

.language-row {
    padding: 4px;
    margin: 4px;
    border: solid 1px black;
}

#totalTimePID {
    color: #C16DEB;
}

#totalTimeSpanID {
    color: #C2C42F;
}

#startBtnID {
    margin: 40px 0;
    font-size: 10vh;
    background-color: #242426;
    color: #2F8EF8;
}

.prompt {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #383838;
    border-radius: 10px;
}

.prompt #promtSpanID {
    font-size: 1.5rem;
    color: #ADACAC;
}

#promtSpanID,
#languageSpanID {
    display: block;
}

#languageSpanID {
    background-color: black;
    width: fit-content;
    padding: 2px;
    border-radius: 4px;
}

#choicesULID {
    font-size: large;
}

#choicesULID li {
    margin-top: 8px;
    border: 2px black solid;
    padding: 8px;
    list-style-type: upper-alpha;
    list-style-position: outside;
    list-style-image: none;
}

#scoresUlID {
    font-size: 3rem;
    padding: 0;
}

#scoresUlID li {}

#aViewHighScoresID,
#aHomeID {
    position: fixed;
    top: 8px;
    left: 16px;
}

#enterBtnID {
    margin: 16px 0;
    font-size: large;
    background-color: #242426;
    color: #2F8EF8;
}

#cancelBtnID {
    margin: 16px 0;
    font-size: large;
    background-color: #242426;
    color: #C16DEB;
}

#initialsInputID {
    width: 200px;
    /* height: 80px; */
    margin: 8px;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 4px;
    background-color: #242426;
    color: #51C22B;
    border: 1px solid #51C22B;
    border-radius: 10px;
}

#resultsElID {
    padding: 16px;
}

#resultSpanID {
    color: #2F8EF8;
    border-radius: 50%;
    padding: 16px;
}

.green {
    color: #51C22B;
}

.yellow {
    color: #C2C42F;
}

.magenta {
    color: #C16DEB;
}

.lightblue {
    color: #63B9EA;
}

.blue {
    color: #2F8EF8;
}

.orange {
    color: #AF7C65;
}

@media only screen and (min-width: 320px) {}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}